<p style="color: green"><%= notice %></p>

<div class="employee-show-card">
  <%= render @employee %>

  <div class="employee-actions">
    <%= link_to "Edit this employee", edit_employee_path(@employee), class: "btn edit" %>
    <%= link_to "Back to employees", employees_path, class: "btn back" %>
    <%= button_to "Destroy this employee", @employee, method: :delete, class: "btn delete" %>
  </div>
</div>
